body {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 221);
}
header {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  height: 110px;
}
nav {
  display: block;
  width: 90%;
}
.nav-format {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  width: 90%;
}

.nav-a-logo {
  height: 50px;
  width: 130px;
  margin: 0px 1%;
  margin-top: 3px;
  margin-right: 3px;

  background-size: 90%;
  background-repeat: no-repeat;
  position: static;
  background-image: url(../img/logo.svg);
}

.nav-searchbar-form {
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
  height: 40px;
}
.nav-searchbar-input {
  padding: 0px;
  padding-left: 13px;
  font-size: 17px;
  color: rgb(49, 49, 49);

  margin: 0px;
  height: 40px;
  width: 80%;
  border: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(219, 219, 219);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nav-searchbar-input::placeholder {
  color: rgb(150, 150, 150);
  user-select: none;
}
.nav-searchbar-submit {
  padding: 0px;
  border: 1px solid rgb(197, 197, 197);

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0px;
  margin: 0px;
  height: 42px;
  width: 42px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: static;
  background-image: url(../img/lupinha.svg);
}
.nav-searchbar-submit:hover {
  cursor: pointer;
}

.nav-a-carrinho {
  height: 55px;
  width: 55px;
  margin: 0px 1%;
  margin-bottom: 6px;
  margin-left: 2%px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-position: center;
  padding-right: 6px;
  background-size: 73%;
  background-repeat: no-repeat;
  position: static;
  background-image: url(../img/carrinhoicon.svg);
}
.nav-a-carrinho:hover {
  transition: 300ms;
  border: 2px solid rgba(143, 143, 143, 0.596);
}
.nav-a-conta {
  margin-left: 2%;
  width: 13%;
  display: flex;
  border-radius: 10px;
  padding-top: 6px;
  padding-left: 3px;
  user-select: none;
  margin-bottom: 7px;
  text-decoration: none;
  border: 2px solid transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  color: rgb(48, 48, 48);
}
.nav-a-conta:hover {
  transition: 300ms;
  border: 2px solid rgba(143, 143, 143, 0.596);
}
.nav-a-conta-icon {
  height: 43px;
  width: 43px;
  margin: 0px 1%;
  margin-bottom: 4px;
  margin-left: 2%;
  margin-right: 10px;

  border-radius: 30px;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  position: static;
}
.nav-sugestoes-format {
  display: flex;
  max-width: 1000px;
  width: 84%;
  align-items: center;
  justify-content: space-evenly;
}
.nav-a-sugestoes {
  text-decoration: none;
  color: rgb(99, 92, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid transparent;
  padding: 5px 10px;
  margin: 0px auto;
  margin-bottom: 1%;
}
.nav-a-sugestoes:hover {
  transition: 70ms;
  border: 2px solid rgb(179, 192, 0);
  border-radius: 5px;
}
.main-banner {
  background-color: rgb(0, 90, 168);
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    0deg,
    rgb(221, 221, 221) 20%,
    transparent 50%
  );
}
.main-banner-button-format {
  margin-top: 100px;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-banner-button {
  width: 50px;
  height: 50px;
  margin: 0px 60px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.main-banner-button-direita {
  border-radius: 0px 20px 20px 0px;
}
.main-banner-button-esquerda {
  border-radius: 20px 0px 0px 20px;
}
.main-grid {
  height: 2000px;
}
