<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <title>Look Foto</title>
</head>

<body>
  <header>
    <nav>
      <span class="nav-format">
        <a class="nav-a-logo" f href="http://">
        </a>

        <form class="nav-searchbar-form" action="" method="get">
          <label for="nav-searchbar-id" style="display: none">Digite para procurar produto</label>
          <input class="nav-searchbar-input" type="text" id="nav-searchbar-id" name="nav-searchbar" placeholder="Digite o que deseja">
          <input class="nav-searchbar-submit" type="submit" value="">
        </form>
        <a class="nav-a-carrinho" f href="http://">
        </a>

        <a class="nav-a-conta" href="http://">
          <img class="nav-a-conta-icon" src="img/contaicon.svg" alt="">
          Entre ou Cadastre-se
        </a>
      </span>
      <span class="nav-format nav-sugestoes-format">
        <a class="nav-a-sugestoes" f href="http://">
          Revelar Fotos
        </a>
        <a class="nav-a-sugestoes" f href="http://">
          Porta-Retratos
        </a>
        <a class="nav-a-sugestoes" f href="http://">
          Econômicos
        </a>
        <a class="nav-a-sugestoes" f href="http://">
          Especiais
        </a>
        <a class="nav-a-sugestoes" f href="http://">
          Álbuns
        </a>
        <a class="nav-a-sugestoes" f href="http://">
          Insumos
        </a>
      </span>
    </nav>
  </header>

  <main>
    <h1 class="clip">Look Foto</h1>
    <div class="main-format">
      <div class="main-banner">
        <span class="main-banner-button-format">
          <button class="main-banner-button main-banner-button-esquerda">
            < </button>
              <button class="main-banner-button main-banner-button-direita"> ></button>
        </span>
        <span class="main-banner-radio">
          <input class="main-banner-radio-button" type="radio" name="banner-radio" id="">
          <input class="main-banner-radio-button" type="radio" name="banner-radio" id="">
          <input class="main-banner-radio-button" type="radio" name="banner-radio" id="">
          <input class="main-banner-radio-button" type="radio" name="banner-radio" id="">
          <input class="main-banner-radio-button" type="radio" name="banner-radio" id="">
        </span>
      </div>
      <section class="main-card-carrousel">
        <label class="main-card-carrousel-label" for="main-card-carrousel">Mais Vendidos</label>
        <ul class="main-card-format">
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>

          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <span class="card-button-format">
            <button class="card-button card-button-esquerda">
            </button>
            <button class="card-button card-button-direita"> </button>
          </span>
        </ul>
      </section>


      <section class="default-card-carrousel">
        <a class="default-card-carrousel-label-link" href=""> <label class="default-card-carrousel-label" for="default-card-carrousel">Teste</label></a>
        <ul class="default-card-format">
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>

          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <li class="card-list">
            <a href="http://" class="card-format">
              <img class="card-img" src="img/imagemTeste.webp" alt="">
              <h2 class="card-title">Porta-Retrato 10x15 Madeira</h2>
              <h3 class="card-price">R$ 100<p class="card-price-centavos">,00</p>
              </h3>
            </a>
          </li>
          <span class="card-button-format">
            <button class="card-button card-button-esquerda">
            </button>
            <button class="card-button card-button-direita"> </button>
          </span>
        </ul>
      </section>


    </div>
  </main>

  <footer class="footer">
    <div class="footer-direitos">
      <img class="footer-logo" src="img/logo.svg" alt="">
      <span>
        <p>Copyright© 2025 Look Foto Digital. Todos os direitos reservados.</p>
        <p class="footer-direitos-endereco">CNPJ: 10.574.090/0001-88 Endereço: Av. Floriano Peixoto, 167 - Centro, Uberlândia - MG, 38400-100</p>
      </span>
    </div>
    <div class="footer-divugacao">
      <p>Siga nos: </p>
      <a href=""></a>
    </div>
    <div class="footer-contato">
      <p>Entre em contato: </p>
      <a href=""></a>
    </div>



  </footer>
  <script src="js/script.js"></script>
</body>

</html>